* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    margin: 0;
    background-color: #E5E5E5;
    background-image: 
      linear-gradient(
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.5)
      ),
      url(Images/spiral-staircase-feet.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      background-attachment: fixed;
  }

  .big-title {
    font-size: 2.5em;
    font-family: 'Arima Madurai', cursive;
    color: #2C0000;
    margin-top: 15vh;
    position: relative;
    left: 50%;
    margin-left: -140px;
    width: 280px;
  }

  .small-title {
    font-size: 1.5em;
    margin-top: 5vh;
  }

  .subtitle {
    font-size: .8em;
    margin-bottom: 90px;
    position: relative;
    left: 50%;
    margin-left: -140px;
    width: 280px;
  }

  form {
    background-color: white;
    display: block;
    text-align: center;
    width: 280px;
    height: 30px;
    margin: auto;
    border-radius: 5px;
    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.25);
  }

  #submit {
    height: 25px;
    width: 25px;
    font-size: 1.1em;
    background-color: white;
    color: #0B3C85;
    border: none;
    position: relative;
    bottom: -2px;
  }

  .js-search-term {
    border: none;
    width: 240px;
    height: 25px;
    margin: 0;
    position: relative;
    bottom: 0;
  }

  .js-error-message {
    margin: 10px;
    color: #B83422;
    font-weight: 700;
    text-align: center;
    /* background-color: white; */
    padding: 20px;
    /* border-radius: 4px;
    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.25); */
  }

  .fa-flushed {
    font-size: 3em;
  }

 

  .start-onboarding {
    font-size: .8em;
    text-align: left;
  }

  .fa-times {
    font-size: 2em;
    margin-left: 2px;
    margin-bottom: 3px;
    color: #0B3C85;
  }

  .podcast-card {
      background: white;
      padding: 8px;
      margin: 10px;
      border-radius: 4px;
      box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.25);
  }

  .episode-title {
    color: #B83422;
    font-weight: 700;
    font-size: 1.1em;
    margin-bottom: 10px;
  }

  .podcast-title {
    font-weight: 700;
    font-size: .8em;
    margin-bottom: 5px;
  }

  .podcast-publisher {
    margin-bottom: 15px;
    font-size: .8em;
  }

  .podcast-image {
      width: 100px;
      float: left;
      padding-right: 10px;
  }

  .selected-podcast {
    background: white;
    padding: 8px;
    margin: 10px;
    border-radius: 4px;
    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.25);
    margin-bottom: 150px;
  }


  .podcast-description, .full-description {
      float: clear;
      font-size: .9em;
      word-wrap: break-word;
  }

  .wiki-list > li {
    background: lightgray;
    font-size: 0.85em;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 4px;
    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.25);
  }

  .wiki-results > p {
    background: silver;
    font-size: 0.85em;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 4px;
    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.25);
  }
  
  .wikipedia {
    height: 69vh;
    width: 98vw;
    margin: auto;
  }

  #wikipedia-frame {
    height: 67vh;
    width: 98vw;
    border: 1px solid white;
    border-radius: 4px;
    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.25);
 }

 .wiki-results > h3 {
   margin-top: 20px;
   color: #0B3C85;
   font-weight: 700;
   margin-bottom: 5px;
 }


@media screen and (min-width: 700px) {

  /* .podcast-box, .podcast-player, .wiki-results {
    width: 47vw;
  }

  #wikipedia-frame {
    position: relative;
    top: 43px;
    left: 10px;
    width: 47vw;
    height: 98vh;
  } */
}

 .hidden {
  display: none;
}

.podcast-player {
  position: fixed;
  bottom: 0;
  /* left: 5vw;
  right: 5vw; */
  height: 19vh;
  background-color: white;
  width: 100vw;
}

/* TODO: figure out how to remove styling on the embedded player */
.player {
  box-shadow: none;
  border: none;
  margin-bottom: -6px;
}

