* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    margin: 0;
    background-color: #E5E5E5;
    background-image: 
      linear-gradient(
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.5)
      ),
      url(Images/spiral-staircase-feet.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      background-attachment: fixed;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  .fa-times {
    font-size: 2em;
    margin-left: 2px;
    margin-bottom: 3px;
    color: #0B3C85;
  }



/* styles for .search-container and children */
  .big-title {
    font-size: 2.5em;
    font-family: 'Arima Madurai', cursive;
    color: #541810;
    margin-top: 15vh;
    position: relative;
    left: 50%;
    margin-left: -140px;
    width: 280px;
  }

  .small-title {
    font-size: 1.5em;
    margin-top: 5vh;
  }

  .subtitle {
    font-size: .8em;
    margin-bottom: 90px;
    position: relative;
    left: 50%;
    margin-left: -140px;
    width: 280px;
  }

  #podcast-search {
    background-color: white;
    display: block;
    text-align: center;
    width: 280px;
    height: 30px;
    margin: auto;
    border-radius: 5px;
    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.25);
  }

  #submit {
    height: 25px;
    width: 25px;
    font-size: 1.1em;
    background-color: white;
    color: #0B3C85;
    border: none;
    position: relative;
    bottom: -2px;
  }

  .js-search-term {
    border: none;
    width: 240px;
    height: 25px;
    margin: 0;
    position: relative;
    bottom: 0;
  }

/* styles for user onboarding */
.start-onboarding {
  padding-left: 20px;
  border: 3px solid white;
  background-color: #0B3C85;
  color: white;
  width: 12vw;
  padding: 15px 15px 15px 20px;
  border-radius: 8px;
  font-size: 0.8em;
}

.user-onboarding {
  position: fixed;
  top: 0;
  background: #0b3c85;
  padding-top: 20px;
  color: white;
  height: 100vh;
  width: 100vw;
  padding-left: 10vw;
  padding-right: 10vw;
}

.onboarding-title-container {
  margin: 20px;
}

.onboarding-title-container > h3 {
  font-weight: 700;
  font-size: 1.5em;
  margin-bottom: 15px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.onboard-icon {
  border: 3px solid white;
  border-radius: 8px;
  font-size: 4em;
  padding: 15px;
  text-align: center;
  width: 1.6em;
  margin: 20px;
  color: #bbe727;
}

.back-to-landing {
  text-align: center;
  margin-top: 30px;
}


.icons-list {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}

.numbered-list {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}

ol {
  margin-top: 0;
  margin-bottom: 0;
}

.numbered-list > li {
  font-size: 1em;
  margin: 10px;
  margin-top: 30px;
}

/* styles for .js-error-message */
  .error-style {
    margin: 10px;
    color: #B83422;
    font-weight: 700;
    text-align: center;
    /* background-color: white; */
    padding: 20px;
    /* border-radius: 4px;
    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.25); */
  }

  .fa-flushed {
    font-size: 3em;
  }

/* styles for .podcast-results and children */
  .podcast-card {
      background: white;
      padding: 8px;
      margin: 10px;
      border-radius: 4px;
      box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.25);
  }

  .episode-title {
    color: #B83422;
    font-weight: 700;
    font-size: 1.1em;
    margin-bottom: 10px;
  }

  .podcast-title {
    font-weight: 700;
    font-size: .8em;
    margin-bottom: 5px;
  }

  .podcast-publisher {
    margin-bottom: 15px;
    font-size: .8em;
  }

  .podcast-image {
      width: 100px;
      float: left;
      padding-right: 10px;
  }

  .podcast-description, .full-description {
    float: clear;
    font-size: .9em;
    word-wrap: break-word;
  }

  .no-results {
    color: #B83422;
    text-align: center;
    margin: 20px 50px 20px 50px;
  }

/* styles for .selected-podcast and children */
  .selected-podcast {
    background: white;
    padding: 8px;
    margin: 10px;
    border-radius: 4px;
    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.25);
    margin-bottom: 150px;
  }

  .wiki-list > li {
    background: lightgray;
    font-size: 0.85em;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 4px;
    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.25);
  }

  .wiki-results > h3 {
    margin-top: 20px;
    color: #0B3C85;
    font-weight: 700;
    margin-bottom: 5px;
  }

  .wiki-title {
    color: #0B3C85;
    font-weight: 700;
    margin-bottom: 3px;
  }
  

/* styles for .wikipedia and children   */
  .wikipedia {
    height: 77vh;
    width: 98vw;
    margin: auto;
  }

  #wikipedia-frame {
    height: 75vh;
    width: 98vw;
    border: 1px solid white;
    border-radius: 4px;
    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.25);
 }




/* styles for .podcast-player and children */
.player {
  box-shadow: none;
  border: none;
  margin-bottom: -6px;
  position: fixed;
  bottom: 0;
  height: 19vh;
  background-color: white;
  width: 100vw;
}

/* media queries for screen widths */

@media screen and (min-width: 480px) {
  .player {
    height: 17vh;
  }
}

@media screen and (min-width: 700px) {
  .podcast-results, .selected-podcast, .wikipedia {
    width: 75vw;
    margin: auto;
  }

  .player {
    height: 16vh;
  }

  body {
    background-color: #e6f6b0;
  }
}

@media screen and (min-width: 880px) {
  .podcast-results, .selected-podcast, .wikipedia {
    width: 65vw;
    margin: auto;
  }

  body {
    background-color: #E5E5E5;
  }
}

@media screen and (min-width: 1050px) {
  .podcast-results, .selected-podcast, .wikipedia {
    width: 55vw;
    margin: auto;
  }

  body {
    background-color: #e6f6b0;
  }
}

 .hidden {
  display: none;
}
